@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
html {
    background-color: #fbf5f3;
    font-family: 'Protest Strike', sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
.container {
    margin: 10vh 5vw 13vh;
}
.header {
    background-color: #c42847;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid #000022 .5px;
}
h1 {
    color: white;
    font-size: 3rem;
    padding: 0;
    -webkit-text-stroke: black 1px;
}
ul {
    list-style: none;
}
li {
    font-size: 1.5rem;
    padding: 0 10px;
    display: inline-block;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: maroon;
}

.footer a {
    -webkit-text-stroke: black 1.5px;
}
.footer {
    font-size: 3rem;
    letter-spacing: 4vw;
    padding: 2vh 5vw;
    background-color: #c42847;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border-top: solid #000022 0.5px;
}
h2 {
    color: white;
    -webkit-text-stroke: black .5px;
}
p {
    color: white;
    -webkit-text-stroke: black 1px;
}
.content {
    margin: 20px;
    padding: 40px;
    background-color: #de3c4b;
    font-size: 1.5rem;
}
.content p {
    padding: 20px;
}
.intro {
    display: flex;
    padding: 10px;
}
.meImg {
    padding: 20px;
    background-color: #de3c4b;
}
input {
    margin: 5px;
    font-size: 2rem;
}
textarea {
    font-size: 2rem;
    resize: none;
}
form {
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.req {
    color: red;
}
#submit {
    color: white;
    background-color: #de3c4b;
    font-size: 3rem;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 10% 3%;
    padding: 5%;
    font-size: 3rem;
    background-color: #de3c4b;
    border: solid #000022 .5px;
}
.title h2 {
    color: white;
    text-align: center;
}
.visualLink {
    color: purple;
    -webkit-text-stroke: white 0.5px;
    text-decoration: underline;
}
.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content a {
    color: darkred;
}
.content p {
    font-size: 0.75rem;
}
h3 {
    padding: 5%;
    color: white;
    -webkit-text-stroke: 0.5px black;
}
@media (max-height: 1050px) {
    .content p {
        font-size: 2rem
    }
    .title {
        font-size: 2rem;
        padding: 2%;
        margin: 10% 20% 2%;
    }
    .input {
        font-size: .5rem;
    }
    input {
        font-size: 1.5rem;
    }
    textarea {
        font-size: 1.5rem;
    }
    #submit {
        font-size: 1rem;
    }
}